html {
  font-size: $font-size;
}
body {
  overflow-x: hidden;

  max-width: 100%;
  min-height: 101vh;

  font-family: $font-main;
  font-size: $font-size;
}

a {
  transition: color 0.25s;
  color: $color-primary;
  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}
