.footer {
  padding-top: 45px;
  color: $color-gray;
  background-color: $color-dark;
  ul {
    padding: 0;
    list-style: none;
  }
  a {
    color: #6f6f6f;
    &:hover {
      color: $color-light;
    }
  }
  &-fifth {
    margin: 20px 0;
    text-align: center;
    a {
      color: #d5d5d5;
      &:hover {
        color: $color-light;
      }
    }
  }
}
